/* Home.css */
.home-page {
  border: solid 1px;
  display: inline-block;
  max-width: 420px;
  margin: 6px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #000;
  font-family: 'Segoe UI', sans-serif;
}

/* Título */
.home-page h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: #000;
}

/* Descrição */
.home-page p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  line-height: 1.5;
  color: #000000;
}

/* Campo de email */
.home-page input[type='email'] {
  width: 90%;
  padding: 14px 16px;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #ffffff;
  color: #333;
  outline: none;
  transition: 0.2s ease;
}

.home-page input[type='email']:focus {
  box-shadow: 0 0 0 2px gray;
}

/* Estilo do botão automaticamente */
.home-page button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #00ffc3, #00bfff);
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-page button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 255, 195, 0.4);
}
