body {
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%;
}

input {
  padding: 10px;
  margin-top: 1rem;
  width: 250px;
}

.payment-button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 1rem;
  background-color: #0f62fe;
  color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-button:hover {
  background-color: #07f326;
  color: black;
}

p {
  font-size: 20px;
}

@media (max-width: 736px) {
  p {
    color: rgb(13, 1, 1);
    font-weight: bold;
    margin-top: -25px;
  }

  h1 {
    font-size: 20px;
    color: white;
  }
}
